body {
  font-family: Helvetica, Verdana;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.messageContainer{
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  height: 500px;
}

.textBar{
  margin-top: 5px;
}
